@page "/product/{id:int}"
@using Sakila.BlazorWasmApp.Services
@using Sakila.Models
@inject SakilaApiClient Api

<h3>Product</h3>

@if (product == null)
{
    <p>Loading...</p>
}
else
{
    <h1>@product.Name</h1>
    <p>@product.Description</p>
}

@code {

    [Parameter]
    public int Id { get; set; }

    private Product? product;

    protected override async Task OnInitializedAsync()
    {
        product = await Api.GetProduct(Id);
    }


}
